/* Cores --> */
:root {
  --primeira-cor: #ffbdfd;
    --segunda-cor: #ffffe1;
      --terceira-cor: #dbbdff;
    --quarta-cor: #a6fc50;
  --quinta-cor: #351bf7;
}

body {
  text-align: center;
    background-color: var(--terceira-cor);
      color: var(--quarta-cor);
        font: italic 24px candara;

}

div {
  margin: 10px auto;
  border: dotted var(--segunda-cor);
  border-radius: 50px;  
  background-color: var(--terceira-cor);
  width: 30%;
  padding: 15px;
}

select {
  overflow: hidden;
  text-align: center;
  width: 200px;
  border: none;
  border-radius: 50px;
  padding: 8px;
  font: italic 24px cambria;
  background-color: var(--primeira-cor);
  color: var(--segunda-cor)
}

input {
  font: italic 15px negrito candara;
  background-color: var(--segunda-cor);
  color: var(--terceira-cor);
  border: none;
  border-radius: 50px;
  padding: 8px;
} 

button {
  font: italic 16px cambria;
  border: none;
  border-radius: 50px;
  padding: 8px;
  color: var(--quinta-cor) ;
  background-color: var(--segunda-cor);
} 

button:hover {
  background-color: var(--primeira-cor);
}